:root {
  --grey: #686868;
  --layout-separation: 0 16px;
}

body {
  background-color: #000000;
  margin: 0px;
  overflow-x: hidden;
  position:relative;
  margin-bottom: 6rem;
  color: white;
  margin-top: 3rem;
}

.action_icon{
  display:flex;
  flex-direction:column;
  align-items: center;
}

.carousel{
  display:flex;
  flex-direction: row;
  overflow: scroll;

}
.category_title{
  color:white;
}
.carousel_item{
  margin-left: 8px;
}
.carousel_item img {
  width: 25vw;

}

.carousel_item:first-child{
  margin-left: 0;
}

.category{
  padding: 0 0 0 16px;
}

footer{
  display:flex;
  justify-content: space-around;
  position: fixed;
  bottom:0;
  background:black;
  width:100%;
}
footer .action_icon{
  padding: 1rem;
  color: grey;
}
footer .action_icon:first-child{
  color:white;
}
.navigation{
  position:fixed;
  width: 100%;
  top:0;
}
